body {
  background-color: pink;
  text-align: center;
  color: pink;
}


#myCanvas {
  background-image: url("https://t4.ftcdn.net/jpg/09/61/24/03/360_F_961240300_ISvJ1lFdvDKjOdhre47DBKNWnjmxWHVg.jpg");
  background-size: 400px;
  border-radius: 30px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

